cmake-build-release
cmake-build-debug
cmake-build-win
.idea
.vscode
build/
dns-libs-private/

# mac/ios test app
platform/mac/testapp/framework/

# OS X
.DS_Store

# XCode
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Debug files
*.dSYM

# BoringSSL go.mod
third-party/boringssl/boringssl/go.mod

# Win libs
AdguardDns.dll
AdguardDns.pdb
signtool.log
