[submodule "third-party/ldns/ldns"]
	path = third-party/ldns/ldns
	url = https://github.com/NLnetLabs/ldns.git
[submodule "third-party/libevent"]
	path = third-party/libevent/libevent
	url = https://github.com/libevent/libevent.git
[submodule "third-party/fmt"]
	path = third-party/fmt
	url = https://github.com/fmtlib/fmt
[submodule "third-party/googletest"]
	path = third-party/googletest
	url = https://github.com/google/googletest.git
[submodule "third-party/spdlog"]
	path = third-party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "third-party/klib"]
	path = third-party/klib
	url = https://github.com/attractivechaos/klib
[submodule "third-party/pcre2"]
	path = third-party/pcre2
	url = https://salsa.debian.org/debian/pcre2.git
[submodule "third-party/boringssl/boringssl"]
	path = third-party/boringssl/boringssl
	url = https://boringssl.googlesource.com/boringssl
[submodule "third-party/sodium/libsodium"]
	path = third-party/sodium/libsodium
	url = https://github.com/jedisct1/libsodium.git
	branch = stable
[submodule "third-party/curl/curl"]
	path = third-party/curl/curl
	url = https://github.com/curl/curl
[submodule "third-party/nghttp2/nghttp2"]
	path = third-party/nghttp2/nghttp2
	url = https://github.com/nghttp2/nghttp2
