include(default)
[settings]
arch=armv7
build_type=RelWithDebInfo
compiler=clang
compiler.libcxx=libc++
compiler.version=11
os=Android
os.api_level=21
[build_requires]
[options]
[env]
CONAN_CMAKE_TOOLCHAIN_FILE={{ os.path.join(profile_dir, "android.toolchain.cmake") }}
[conf]
tools.android:ndk_path={{ os.environ['ANDROID_NDK_HOME'] }}
tools.cmake:cmake_program={{ os.path.join(os.environ['ANDROID_HOME'], "cmake/3.22.1/bin/cmake") }}
