include(default)
[settings]
arch=x86_64
build_type=RelWithDebInfo
compiler=clang
compiler.libcxx=libc++
compiler.version=11
os=Android
os.api_level=21
[build_requires]
[options]
[env]
CONAN_CMAKE_TOOLCHAIN_FILE={{ os.path.join(profile_dir, "android.toolchain.cmake") }}
