include(default)
[settings]
arch=x86
arch_build=x86
compiler=clang
compiler.version=9
compiler.runtime=MT
build_type=RelWithDebInfo
[options]
[build_requires]
[env]
CONAN_CMAKE_TOOLCHAIN_FILE={{ os.path.join(profile_dir, "windows.toolchain.cmake") }}
CC="C:/Program Files (x86)/LLVM/bin/clang-cl.exe"
CXX="C:/Program Files (x86)/LLVM/bin/clang-cl.exe"
CONAN_MAKE_PROGRAM=ninja
CONAN_CMAKE_GENERATOR=Ninja
