include(default)
[settings]
arch=x86
arch_build=x86
compiler=Visual Studio
compiler.version=16
compiler.cppstd=17
compiler.runtime=MT
build_type=RelWithDebInfo
[options]
[build_requires]
[env]
CONAN_CMAKE_TOOLCHAIN_FILE={{ os.path.join(profile_dir, "windows.toolchain.cmake") }}
CONAN_MAKE_PROGRAM=ninja
CONAN_CMAKE_GENERATOR=Ninja
